<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HU-Donations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>005D471B1DD27FE6003E3228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>005D47321DD27FE7003E3228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>005D473D1DD27FE7003E3228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
